.step2 {
    display: flex;
    justify-content: space-between;
}

.video-link-box {
    display: flex;
    .video-link {
        color: black;
        font-size: 1.3rem;
        width: 600px;
        max-width: 600px;
    }
}

.left-side {
    padding: 2%;
}

.right-side {
    padding: 2%;
}

.upload-button{
    height: 45px;
    line-height: 1.3rem;
}

.img-uploader{
    width: 150px;
}

.img-preview{
    width: 100%;
    max-width: 565px;
}

.video-preview{
    width: 100%;
    max-width: 700px;
}

.text-area{
    width: 400px;
    max-width: 400px;
}