*{box-sizing: border-box;margin: 0;padding: 0}
:root{
  /* chỗ này để viết biến css */
}

.App {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden !important;
  height: 2000px;
}

.navbar{
  position: fixed;
  z-index: 1;
  background: white;
  max-width: 100%;
}

.navbar-row{
  justify-content: space-between;
  width: 2000px;
  max-width: inherit;
}

.search-border{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 1.5em;
  width: max-content;
}

.search-box{
  padding-left: 20px;
  width: 400px;
  height: 40px;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  border: 0;
  border-right: 1px solid black;
}

.search-box-dp-none{
  display: none;
}

.search-margin-dp-none{
  justify-content: center;
}

.watch-search-icon{
  height: 0;
  width: 45px;
  /*padding: 0;*/
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}

.search-icon-box{
  height: 40px;
  width: 50px;
  margin-top: -6px;
  padding: 0;
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
  padding-top: 7px;
}

.search-icon{
  width: 20px;
}

.search-btn-box{
  height: 40px;
  width: 40px;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.show-detail-btn{
  border: 0;
  background: transparent;
  margin-left: 24px;
  margin-right: 1em;
}

.search-btn{
  height: max-content;
  background: transparent;
  border-left: 1px solid black;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  margin: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.nav-left{
  justify-content: end;
}

.home-btn{
  background: transparent;
  border: 0;
}

/* >1301px */
@media screen and (min-width: 1301px){
  .search-margin{
    justify-content: center;
  }
}

/* 1001 -> 1300 */
@media screen and (min-width: 1001px) and (max-width: 1300px){
  .search-margin{
    justify-content: center;
  }
}

/* 651 -> 1000 */
@media screen and (min-width: 651px) and (max-width: 1000px){
  .search-margin{
    justify-content: center;
  }
}

/* <650 */
@media screen and (max-width: 650px){
  .search-box{
    padding: 2px 15px 0;
    width: 300px;
    height: 40px;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border: 0;
    border-right: 1px solid black;
  }
  .search-btn-box{
    height: 42px;
    margin-top: 3px;
    margin-bottom: -11px;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }
  .search-box-dp-none{
    display: none;
  }

  .search-btn{
    background: transparent;
    border: 0;
  }

  .button-search-btn{
    border:0
  }

  .home-btn{
    background: transparent;
    border: 0;
    display: none;
  }
  .search-margin{
    justify-content: center;
  }
  .search-margin-dp-none{
    justify-content: flex-end;
    margin-right: 20px;
  }
  .search-border-dp-none{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    width: 42px;
    height: 42px;
  }

  .search-icon-box{
    height: 40px;
    width: 40px;
    margin-top: -2px;
    padding-left: 3px;
    border-radius: 100%;
    padding-top: 10px;
  }
}

